name: Typing

on:
  push:
    branches:
      - main
      - next
  pull_request:
  workflow_dispatch:

jobs:
  ruff:
    name: Ty Typing check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies and run ty
        run: |
          poetry install --all-groups
          poetry run ty check meteostat/ tests/integration/ tests/utils/
